<main>
    <a href="/admin/opcciones/ciudadanos">
        <button class="btn btn-primary mt-2 px-5 ms-2">
            <img src="/assets/img/btn-regresar.png">
        </button>
    </a>
    <div class="container mt-5 d-flex justify-content-center">
        <form class="border shadow p-5 border border-dark w-50" action="" method="post">
            <h2 class="text-center mb-3">Form</h2>
            <label for="">Documento de identidad</label>
            <input class="form-control my-2" type="text" name="DocumentoDeIdentidad"
                placeholder="Documento de identidad" required="required" value="{{ciudadano.DocumentoDeIdentidad}}"
                {{#if EditIsActive}}disabled{{/if}}>
            <label for="">Nombre</label>
            <input class="form-control my-2" type="text" name="Nombre" placeholder="Nombre" required="required"
                value="{{ciudadano.Nombre}}">
            <label for="">Apellido</label>
            <input class="form-control my-2" type="text" name="Apellido" placeholder="Apellido" required="required"
                value="{{ciudadano.Apellido}}">
            <label for="">Email</label>
            <input class="form-control my-2" type="text" name="Email" placeholder="Email" required="required"
                value="{{ciudadano.Email}}">
            <input class="form-control" value="true" type="hidden" name="Estado" required="required">
            <div class="d-flex justify-content-end">
                <button type="reset" class="btn btn-warning my-3 px-5">Limpiar</button>
                <button type="submit" class="btn btn-primary my-3 px-5 ms-2">{{#if
                    EditIsActive}}Editar{{else}}Crear{{/if}}</button>
            </div>
        </form>
    </div>
</main>