{{!--Option Puesto electivo --}}
<main>
    <a href="/admin/opcciones" style="text-decoration: none;">
        <button class="btn btn-primary px-5 mt-2 py-1 ms-2">
            <img src="/assets/img/btn-regresar.png">
        </button>
    </a>
    <div class="container-lg pb-4 mt-2" style="min-height: 80vh;">
        <h1 class="text-center p-2">PUESTO ELECTIVO</h1>
        <a href="/admin/Opcciones/puesto-electivo/agregar">
            <button class="btn btn-success p-2">Nuevo Puesto</button>
        </a>
        <table class="w-100 mt-3">
            <tbody class="w-100 border-bottom border-dark">
                <tr class="bg-secondary p-0 fs-4" style="width: 100%;">
                    <th scope="col" class="border border-2 border-dark p-md-2">ID</th>
                    <th scope="col" class="border border-2 border-dark p-md-2">Nombre</th>
                    <th scope="col" class="border border-2 border-dark p-md-2">Descripcion</th>
                    <th scope="col" class="border border-2 border-dark p-md-2">Estado</th>
                    <th scope="col" class="border border-2 border-dark p-md-2">Acciones</th>
                </tr>

                {{#each puestosElectivos as |puesto|}}
                <tr class="p-0 fs-5">
                    <th class="border border-2 border-dark p-2">{{puesto.Id}}</th>
                    <th class="border border-2 border-dark p-2">{{puesto.Nombre}}</th>
                    <th class="border border-2 border-dark p-2">{{puesto.Descripcion}} </th>
                    <th class="border border-2 border-dark p-2">{{#if
                        puesto.Estado}}Activo{{else}}Inactivo{{/if}}</th>
                    <th class="border border-2 border-dark p-2 d-flex justify-content-center">
                        {{#if puesto.Estado}}
                        <a href="/admin/opcciones/puesto-electivo/editar{{puesto.Id}}"><Button
                                class="btn btn-warning">Editar</Button></a>
                        <a {{#if
                            ../buttonDesactivarIsActive}}href="/admin/opcciones/puesto-electivo/changeestado{{puesto.Id}}"
                            {{/if}}><button class="btn btn-danger ms-2" {{#if
                                ../buttonDesactivarIsActive}}{{else}}disabled{{/if}}>Desactivar</button></a>
                        {{else}}
                        <a href="/admin/opcciones/puesto-electivo/changeestado{{puesto.Id}}"><button
                                class="btn btn-success px-5 ms-2">Activar</button></a>
                        {{/if}}
                    </th>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</main>